.opacity {
    opacity: 0.9;
}

.transparent {
    background-color: blue;
    background-color: transparent;
}

.current-color {
    border: thick solid currentColor;
}


.button {
    background-color: red;
    width: 9ch;
    border: 10px solid black;
    box-sizing: border-box;
}

